.container{
    background-color: #161B2F;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    border-top: 1px solid #656A74
}